$background_color:#ffffff;
$button_color:#29499b;
$color_text_primary:#333333;
$color_text_secondary:#ffffff;
$font-normal: 'PT Sans', sans-serif;
$desktop-width:"min-width: 1200px";
$tablet-width:"min-width: 768px";
