body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
  color: #333333;
  margin: 0;
  padding: 0; }

h2, h3, h4 {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  font-weight: bold; }

h3 {
  color: #ffffff;
  font-weight: bold; }

h4 {
  color: #000000;
  font-weight: bold; }

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("https://fonts.googleapis.com/css?family=PT+Sans:400,700"); }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: #ffffff; }

.icon-htmlacademy {
  font-size: 2rem;
  width: 0.79412em; }

.icon-icon-burger {
  font-size: 3rem;
  width: 1.14286em; }

.icon-icon-cross {
  font-size: 1rem;
  width: 1.04545em; }

.icon-icon-facebook {
  font-size: 1rem;
  width: 0.5em; }

.icon-icon-gift {
  font-size: 3rem;
  width: 0.84211em; }

.icon-icon-house {
  font-size: 3rem;
  width: 1.05405em; }

.icon-icon-menu {
  font-size: 1rem;
  width: 1.09524em; }

.icon-icon-twitter {
  font-size: 1rem;
  width: 1.28571em; }

.icon-icon-youtube {
  font-size: 1rem;
  width: 1.42857em; }

.icon-intro-triangle {
  font-size: 1rem;
  width: 5.61404em; }

.icon-logotyle-mobile {
  font-size: 5rem;
  width: 1.22892em;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.icon-sprite {
  font-size: 1rem;
  width: 0em; }

.icon-text-index {
  font-size: 13rem;
  width: 1.31776em; }

@media (min-width: 768px) {
  .icon-text-index {
    font-size: 22rem; }
  .icon-icon-gift {
    font-size: 4.5rem; }
  .icon-icon-house {
    font-size: 4.5rem; }
  .icon-icon-burger {
    font-size: 4.5rem; } }

.icon-whitecopy {
  font-size: 1rem;
  width: 8.64865em; }

/*-----block-----*/
.header {
  position: relative;
  margin: 0 auto;
  width: 320px; }

@media (min-width: 768px) {
  .header {
    width: 768px; } }

@media (min-width: 1200px) {
  .header {
    width: 1200px; } }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 320px; }
  .main-nav__wrapper-menu {
    position: relative;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .main-nav__item {
    width: 320px;
    height: 55px;
    text-align: center; }
  .main-nav__link {
    display: block;
    width: 100%;
    height: 54px;
    text-decoration: none;
    font-size: 18px;
    line-height: 55px;
    background-color: #81b3d2;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 1px solid #678fa8; }
  .main-nav__link:hover {
    background-color: #669ec0; }
  .main-nav__link:active {
    background-color: #5496bd;
    color: #94b9d2; }
  .main-nav__btn-close {
    position: absolute;
    right: 20px;
    top: 14px;
    border: none;
    background: none;
    cursor: pointer; }
  .main-nav__btn-burger {
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
    margin-top: 5px; }

@media (min-width: 768px) {
  .main-nav {
    width: 768px; }
    .main-nav__wrapper-menu {
      width: 100%; }
    .main-nav__list {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      width: 100%; }
    .main-nav__item {
      width: 155px; }
    .main-nav__item:nth-child(2) {
      margin-right: 80px; }
    .main-nav__item:nth-child(3) {
      margin-left: 80px; }
    .main-nav__link {
      background-color: transparent;
      border: none;
      color: #000000;
      font-size: 16px; }
    .main-nav__btn-burger, .main-nav__btn-close {
      display: none; }
    .main-nav__link:hover {
      background-color: transparent;
      color: #81b3d2; }
    .main-nav__link:active {
      background-color: transparent;
      opacity: 0.3; } }

@media (min-width: 1200px) {
  .main-nav {
    width: 1200px; }
    .main-nav__item {
      width: 230px; }
    .main-nav__item:nth-child(2) {
      margin-right: 125px; }
    .main-nav__item:nth-child(3) {
      margin-left: 125px; } }

.logo {
  width: 150px;
  height: 83px;
  padding-left: 103px;
  z-index: 10;
  -webkit-transition: 1s;
  transition: 1s; }
  .logo a {
    text-decoration: none; }
  .logo .icon-logotyle-mobile:hover {
    font-size: 6rem;
    margin-left: -11px; }
  .logo__title {
    display: none; }

@media (min-width: 768px) {
  .logo {
    position: absolute;
    width: 100px;
    left: 50%;
    top: 0;
    padding: 0;
    margin-left: -50px; } }

.intro {
  position: relative;
  width: 320px;
  height: 300px;
  padding-top: 90px;
  margin: 0 auto;
  margin-top: -30px;
  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center; }
  .intro::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 58px;
    background-image: url(../img/triangle-mobile.svg);
    background-repeat: no-repeat;
    background-position: center; }

@media (min-width: 768px) {
  .intro {
    width: 768px;
    height: 440px;
    padding-top: 80px;
    margin-top: 0;
    background-image: url(../img/back-desktop.jpg); }
    .intro::after {
      width: 768px;
      height: 60px;
      background-image: url(../img/triangle-tablet.svg);
      background-size: cover; } }

@media (min-width: 1200px) {
  .intro {
    width: 1200px; }
    .intro::after {
      width: 1200px;
      height: 58px;
      background-image: url(../img/triangle.svg); } }

.features {
  width: 320px;
  margin: 0 auto; }
  .features__wrapper-title {
    position: relative; }
  .features__wrapper-title::before {
    content: "";
    position: absolute;
    bottom: -61px;
    left: 0;
    width: 320px;
    height: 58px;
    background-image: url(../img/whitecopy.svg);
    background-repeat: no-repeat;
    background-position: center; }
  .features__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .features__subtitle {
    text-align: center;
    margin-top: 0;
    text-transform: uppercase; }
  .features__item-number {
    position: relative;
    display: block;
    width: 100px;
    margin: 0 auto; }
  .features__item-number:after, .features__item-number:before {
    content: "";
    display: block;
    position: absolute;
    left: 23px;
    top: 12px;
    width: 9px;
    height: 2px;
    background-color: #ffffff; }
  .features__item-number:before {
    left: 67px; }
  .features__item--blue .features__wrapper-text {
    height: 140px;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #81b3d2;
    color: #ffffff;
    text-align: center; }
  .features__item-text {
    margin-bottom: 45px;
    line-height: 23px;
    text-transform: uppercase; }
  .features__list--gray {
    background-color: #eeeeee; }
  .features__item--gray {
    min-height: 168px;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    color: #333333; }
  .features__hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #979797;
    color: #979797; }
  .features__item--gray:first-child {
    margin-top: -10px; }
  .features__item--gray:last-child {
    padding-bottom: 1px; }
  .features__item--gray .features__item-title {
    color: #333333; }
  .features__item--gray .features__item-number:after {
    background-color: #979797; }
  .features__item--gray .features__item-number:before {
    background-color: #979797; }

@media (min-width: 768px) {
  .features {
    width: 768px; }
    .features__wrapper-title {
      padding-top: 35px;
      width: 550px;
      margin: 0 auto;
      padding-bottom: 35px; }
      .features__wrapper-title::before {
        display: none; }
    .features__title {
      font-size: 21px;
      line-height: 24px;
      margin-bottom: 30px; }
    .features__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 260px; }
    .features__item-title {
      margin-top: 0;
      margin-bottom: 8px; }
    .features__wrapper-text {
      width: 160px;
      padding-left: 48px;
      padding-right: 48px;
      padding-top: 46px;
      padding-bottom: 50px; }
    .features__wrapper-text--right {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .features__item--blue .features__wrapper-text {
      width: 165px;
      height: 160px;
      padding-left: 47px;
      padding-right: 47px;
      padding-top: 46px;
      padding-bottom: 50px; }
    .features__item-img-wrapper {
      width: 512px;
      height: 256px;
      overflow: hidden; }
    .features__item-img {
      width: 100%;
      height: 256px; }
    .features__list--gray {
      margin-top: -5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .features__item--gray {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 158px;
      height: 160px;
      padding-left: 47px;
      padding-right: 47px;
      padding-top: 46px;
      padding-bottom: 50px; }
    .features__item--gray:first-child {
      margin-top: 0; }
    .features__hr {
      display: none; }
    .features__item--gray .features__item-title {
      font-size: 21px; } }

@media (min-width: 1200px) {
  .features {
    width: 1200px; }
    .features__item--blue .features__wrapper-text {
      width: 268px;
      height: 160px;
      padding-left: 66px;
      padding-right: 66px;
      padding-top: 55px;
      padding-bottom: 41px; }
    .features__item-title {
      display: block;
      width: 152px;
      margin: 0 auto;
      font-size: 21px;
      margin-bottom: 5px; }
    .features__item-img-wrapper {
      width: 800px; }
    .features__item--gray {
      width: 268px;
      height: 160px;
      padding-left: 66px;
      padding-right: 66px;
      padding-top: 45px;
      padding-bottom: 41px; } }

.landmark {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 768px) {
    .landmark {
      width: 768px;
      padding: 0 45px; } }
  @media (min-width: 1200px) {
    .landmark {
      width: 1200px;
      padding: 0 60px; } }
  .landmark__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .landmark__img-wrapper {
    width: 50px;
    padding-top: 32px;
    padding-right: 14px; }
  .landmark__text-wrapper {
    width: 230px; }
  .landmark__title {
    margin-top: 40px;
    margin-bottom: 26px; }
  .landmark__text {
    margin-top: 0;
    text-transform: uppercase; }

@media (min-width: 768px) {
  .landmark {
    padding: 0;
    padding-bottom: 45px; }
    .landmark__list {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .landmark__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 165px;
      text-align: center;
      padding-top: 60px;
      padding-left: 47px;
      padding-right: 47px; }
    .landmark__item--gift {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .landmark__img-wrapper {
      width: 75px;
      margin: 0 auto;
      padding: 0; }
    .landmark__title {
      margin-top: 13px;
      margin-bottom: 21px;
      font-size: 20px; }
    .landmark__text {
      line-height: 21px; } }

@media (min-width: 1200px) {
  .landmark {
    padding-bottom: 74px; }
    .landmark__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 268px;
      text-align: center;
      padding-left: 66px;
      padding-right: 66px;
      padding-top: 55px; } }

.find-hotel {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 35px;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .find-hotel {
      width: 768px;
      padding: 0 45px; } }
  @media (min-width: 1200px) {
    .find-hotel {
      width: 1200px;
      padding: 0 60px; } }
  .find-hotel__title {
    margin-top: 0;
    margin-bottom: 33px;
    text-align: center;
    font-weight: bold;
    font-size: 21px; }
  .find-hotel__text {
    margin-top: 0;
    text-align: center;
    text-transform: uppercase; }
  .find-hotel__button {
    position: relative;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 280px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    border: none;
    font-size: 21px;
    cursor: pointer;
    background-color: #81b3d2;
    text-transform: uppercase;
    color: #ffffff;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px -5px #39cde9;
            box-shadow: 0 0 5px -5px #39cde9;
    -webkit-transition: -webkit-box-shadow 2s;
    transition: -webkit-box-shadow 2s;
    transition: box-shadow 2s;
    transition: box-shadow 2s, -webkit-box-shadow 2s; }
    .find-hotel__button:after, .find-hotel__button:before {
      content: '';
      position: absolute;
      left: -50%;
      right: -50%;
      height: 0;
      padding-bottom: 200%;
      background: #34cce8;
      mix-blend-mode: color-burn;
      top: 0;
      z-index: -1;
      border-radius: 230px;
      -webkit-transition: background 6s, -webkit-transform 2.5s;
      transition: background 6s, -webkit-transform 2.5s;
      transition: transform 2.5s, background 6s;
      transition: transform 2.5s, background 6s, -webkit-transform 2.5s; }
    .find-hotel__button:after {
      -webkit-transform: translate3d(-5%, 6em, 0) rotate(-45deg);
              transform: translate3d(-5%, 6em, 0) rotate(-45deg); }
    .find-hotel__button:before {
      -webkit-transform: translate3d(5%, 6em, 0) rotate(0deg);
              transform: translate3d(5%, 6em, 0) rotate(0deg); }
    .find-hotel__button:hover, .find-hotel__button:focus {
      -webkit-box-shadow: 0 0 50px -5px #041b20;
              box-shadow: 0 0 50px -5px #041b20; }
      .find-hotel__button:hover:before, .find-hotel__button:hover:after, .find-hotel__button:focus:before, .find-hotel__button:focus:after {
        -webkit-transform: translate3d(0, -5em, 0) rotate(180deg);
                transform: translate3d(0, -5em, 0) rotate(180deg);
        background: #1391a9; }
  .find-hotel__button:disabled {
    background-color: #e5e5e5; }

@media (min-width: 768px) {
  .find-hotel {
    padding: 47px 54px;
    margin-bottom: 0; }
    .find-hotel__title {
      font-size: 30px;
      margin-bottom: 29px; }
    .find-hotel__text {
      display: block;
      width: 441px;
      margin: 0 auto;
      font-size: 14px;
      margin-bottom: 38px; }
    .find-hotel__button {
      display: block;
      margin: 0 auto;
      width: 458px; } }

@media (min-width: 1200px) {
  .find-hotel {
    padding-top: 55px;
    padding-bottom: 70px; } }

.map {
  width: 320px;
  height: 360px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .map {
    width: 768px; } }

@media (min-width: 1200px) {
  .map {
    width: 100%;
    height: 350px; } }

.footer {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 245px; }
  @media (min-width: 768px) {
    .footer {
      width: 768px;
      padding: 0 45px; } }
  @media (min-width: 1200px) {
    .footer {
      width: 1200px;
      padding: 0 60px; } }

@media (min-width: 768px) {
  .footer {
    height: 125px;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    padding-top: 36px; } }

@media (min-width: 1200px) {
  .footer {
    padding-top: 34px;
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

.haschteg {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 21px; }
  .haschteg__link {
    text-decoration: none;
    color: #333333; }

@media (min-width: 768px) {
  .haschteg {
    margin: 0;
    text-align: left;
    padding-top: 11px;
    padding-left: 15px;
    width: 220px; } }

@media (min-width: 1200px) {
  .haschteg {
    text-align: center;
    width: 185px; } }

.social {
  width: 170px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .social__link {
    display: block;
    width: 48px;
    height: 48px;
    border: none;
    background-color: #81b3d2;
    text-align: center;
    line-height: 55px; }
  .social__link:hover {
    background-color: #669ec0; }
  .social__link:active {
    background-color: #5496bd; }
  .social__link:active .icon {
    opacity: 0.3; }

@media (min-width: 768px) {
  .social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .social__link {
      margin-right: 6px; }
    .social__link:last-child {
      margin-right: 0; } }

@media (min-width: 1200px) {
  .social {
    width: 580px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.copyright {
  width: 170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .copyright__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 18px; }
  .copyright:hover {
    opacity: 0.5; }
  .copyright:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .copyright {
    height: 50px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .copyright__link {
      margin-right: 10px; } }

@media (min-width: 1200px) {
  .copyright {
    width: 200px; } }
