.copyright {
  width: 170px;
  margin: 0 auto;
  @include flexbox(row, nowrap, space-around);
  align-items: center;
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 18px;
  }
  
  &:hover{
    opacity: 0.5;
  }
  
   &:active {
    opacity: 0.3;
  }
}

@media($tablet-width) {
  .copyright {
    height: 50px;
    justify-content: flex-end;
    &__link{
      margin-right: 10px;
    }  
  }
}


@media($desktop-width){
  .copyright{
    width: 200px;
  }
}