.footer {
  @include container;
  @include flexbox(row, wrap, space-between);
  align-content: center;
  height: 245px;
}

@media($tablet-width){
  .footer{
    height:125px; 
    align-content: flex-start;
    padding-top: 36px;
  }
}

@media($desktop-width){
  .footer{
    padding-top: 34px;
    justify-content: space-around;
  }
}